<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/twitter"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="/mail"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="f-info-company">&copy; Serenity | 2025</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy &nbsp;&nbsp;|</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>