<div class="nav">
  <div class="nav-left">
    <a class="brand logo btn" href="/dashboard">
      <i class="fa-solid fa-feather" style="color: #ffffff"></i>
      <h1>Serenity</h1>
    </a>
  </div>
  <div class="nav-right">
    <% if(!currentUser) {%>
      <form action="/signin" method="get">
        <button class="home-btn btn-nav">Sign In</button>
      </form>
      <form action="/signup" method="get">
        <button class="home-btn btn-nav">Sign Up</button>
      </form>
    <% } %>
    <% if(currentUser) {%>
      <form action="/logout" method="get">
        <button class="home-btn btn-nav">Log Out</button>
      </form>
    <% } %>
  </div>
</div>