<div class="nav">
  <div class="nav-left">
    <a class="brand logo btn" href="/dashboard">
      <i class="fa-solid fa-feather" style="color: #ffffff"></i>
      <h1>Serenity</h1>
    </a>
  </div>
  <div class="nav-right">
    <form>
      <button class="home-btn btn-nav">Sign In</button>
    </form>
    <form>
      <button class="home-btn btn-nav">Sign Up</button>
    </form>
  </div>
</div>