<% layout("/layouts/boilerplate.ejs") %>
<link href="/css/dashboard.css" rel="stylesheet">
<div class="choice-page">
    <div class="row1">
        <div class="option opt1">
            <h1>Do you want to talk?</h1>
            <h5>Solace is there for you</h5>
            <form action="/solace" method="get">
                <button>Let's talk <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></button>
            </form>
        </div>
        <div class="option affirmation-card">
            <h3>🌟 Daily Affirmation</h3>
            <p class="affirmation-text"><%=todayaffirmation%></p>
        </div>
        <div class="option opt2">
            <h1>Want to track your emotions</h1>
            <h5>Let's do it</h5>
            <form action="/mood" method="get">
                <button>Let's Track <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></button>
            </form>
        </div>
</div>
