<% layout("/layouts/boilerplate.ejs") %>
<link href="/css/solace.css" rel="stylesheet">
<div class="solace-page">
    <div class="chat-container">
        <div class="messages">
            <% messages.forEach(function(msg) { %>
            <div class="message <%= msg.sender === 'me' ? 'me' : 'bot' %>">
            <%= msg.text %>
            </div>
            <% }) %>
        </div>

    <form class="input-box" method="POST" action="/solace/send">
        <input
        type="text"
        name="message"
        placeholder="Type a message..."
        required
        />
        <button type="submit">Send</button>
    </form>
    </div>
</div>
